{% from flask import url_for %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sequel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='upload.js') }}" defer></script>
    <script src="{{ url_for('static', filename='tables.js') }}" defer></script>

</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Sequel</h1> 
                <div class="input-container">
                    <input type="file" id="csvFile">
                    <div>
                        <input type="text" id="tableName" placeholder="Table name">
                        <button id="uploadButton">Upload</button>
                        <button id="clearButton">Clear</button>
                    </div>
                </div>
        </div>
        <div id="message"></div>
        <div id="sampleData"></div>
        <div id="tableList"></div>
    </div>
</body>
</html>
